/* Your custom blog styles here */
/* blog.css */
.blog-article {
    @apply font-instrument max-w-3xl mx-auto p-5 text-neutral-600;
}

/* Headings */
.blog-article h1 {
    @apply font-poppins font-bold text-4xl text-neutral-950 mb-4;
}

.blog-article h2 {
    @apply font-poppins font-medium text-3xl mt-7 mb-5 text-neutral-950;
}

.blog-article h3 {
    @apply font-poppins text-2xl text-neutral-950 mt-4 mb-2;
}

.blog-article h4,
.blog-article h5,
.blog-article h6 {
    @apply font-poppins text-xl text-neutral-950 mt-4 mb-2;
}

/* Paragraphs */
.blog-article p {
    @apply font-instrument font-normal text-lg mb-6 text-neutral-600;
}

/* Links */
.blog-article a {
    @apply font-instrument font-normal text-lg text-sky-500 no-underline;
    transition: color 0.2s ease;
}

.blog-article a:hover {
    @apply text-sky-800 underline;
}

/* Lists */
.blog-article ul,
.blog-article ol {
    @apply p-0 mb-6 ml-8 ;
}

.blog-article li {
    @apply font-instrument font-normal mb-2 text-lg text-neutral-600;
}

.blog-article ul {
    @apply list-disc;
}

.blog-article ol {
    @apply list-decimal;
}

/* Blockquotes */
.blog-article blockquote {
    @apply font-instrument font-normal my-6 text-neutral-600 bg-neutral-100 py-4 px-6 italic border-l-4 border-neutral-950/10;
}

.blog-article blockquote p {
    @apply font-instrument m-0;
}

/* Code and Preformatted Text */
.blog-article code {
    font-family: 'Courier New', Courier, monospace;
    @apply bg-zinc-100 rounded text-sm py-1 px-2;
}

.blog-article pre {
    @apply bg-zinc-100 p-4 my-6 rounded-md text-sm overflow-x-auto;
    font-family: 'Courier New', Courier, monospace;
}

.blog-article pre code {
    @apply p-0 bg-transparent;
}

/* Images */
.blog-article img {
    @apply block rounded-lg my-6 max-w-full h-auto;
}

/* Tables */
.blog-article table {
    @apply w-full my-8 border-collapse;
}

.blog-article th,
.blog-article td {
    @apply font-instrument text-lg text-left text-neutral-600 p-3.5 border border-neutral-950/10;
}

.blog-article th {
    @apply bg-neutral-100 font-bold;
}

.blog-article tr:nth-child(even) {
    @apply bg-zinc-50;
}

/* Horizontal Rule */
.blog-article hr {
    @apply my-8 border-0 border-t border-neutral-950/10;
}

/* Responsive Design */
@media (max-width: 600px) {
    .blog-article {
        @apply p-4;
    }

    .blog-article h1 {
        @apply text-3xl;
    }

    .blog-article h2 {
        @apply text-2xl;
    }

    .blog-article h3 {
        @apply text-xl;
    }

    .blog-article p {
        @apply text-base;
    }

    .blog-article blockquote {
        @apply py-2 px-4;
    }

    .blog-article pre {
        @apply text-sm;
    }
}
